.counter-container {
    margin: 20% 45%;
    width: 100%
}

.countup{
    display: inline-block;
    padding:  20px;             /* 余白指定 */
    height: 100px;  
}
.countdown{
    display: inline-block;
    padding:  20px;             /* 余白指定 */
    height: 100px;  
}
.display-number{
    display: inline-block;
    padding:  20px;             /* 余白指定 */
    height: 100px;  
}